<form (ngSubmit)="onSubmit()">
    <div *ngIf="loginFailed" class="row m-2 text-center">
        <p class="text-danger">
            {{loginFailedMsg}}
        </p>
    </div>

    <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-1">
            {{env.text_login}} 
        </div>
        <div class="col">
            <input type="text" name="username" [(ngModel)]="username">
        </div>
    </div>

    <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-1">
            {{env.text_password}}
        </div>
        <div class="col">
            <input type="text" name="password" [(ngModel)]="password">
        </div>
         
    </div>
   
    <div class="row m-2">
        <div class="col"></div>
        <div class="col-2 text-center">
            <button class="btn btn-primary w-100" type="submit">{{env.text_login}}</button>
        </div>
        <div class="col"></div>
    </div>

</form>