<form (ngSubmit)="onSubmit()">
    <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-1">
            {{env.text_username}}
        </div>
        <div class="col">
            <input type="text" name="username" [(ngModel)]="username">
        </div> 
    </div>

    <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-1">
            {{env.text_password}} 
        </div>
        <div class="col">
            <input type="text" name="password" [(ngModel)]="password">
        </div>
    </div>

    <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-1">
            {{env.text_name}} 
        </div>
        <div class="col">
            <input type="text" name="name" [(ngModel)]="name">
        </div>
    </div>

    <div class="row m-2">
        <div class="col-4"></div>
        <div class="col-1">
            {{env.text_country}}
        </div>
        <div class="col">
            <input type="text" name="country" [(ngModel)]="country">
        </div>
    </div>
    
    <div class="row m-2">
        <div class="col"></div>
        <div class="col-2">
            <button class="btn btn-primary w-100" type="submit">{{env.text_register}}</button>
        </div>
        <div class="col"></div>

    </div>
</form>