
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark" *ngFor="let player of players">
            <a routerLink="/player/{{player._id}}" class="list-group-item list-group-item-action list-group-item-dark">
                {{player.name}} ({{player.achievments.length}})
            </a>
        </li>
    </ul>

<div class="row">
    <div class="col text-center">
        <button (click)="onPrev()" class="btn">{{env.text_prev}}</button>
        <span>{{page}}</span>
        <button (click)="onNext()" class="btn">{{env.text_next}}</button>
    </div>
</div>

