<div class="row m-2">
    <h3>{{env.text_player_detail}}</h3>
</div>
<div  *ngIf="!updateEnabled" class="row ms-4">
    <div class="col-sm">
        <h1>{{player.name}} </h1> 
        <p>
            {{env.text_country}}: {{player.country}}
        </p>
        <p>
            {{env.text_username}}: {{player.username}}
        </p>
        <p>
            <button class="btn btn-sm btn-primary" type="button" (click)="onUpdateEnable()">{{env.text_edit}}</button>
        </p>
    </div>
</div>


<div *ngIf="updateEnabled" class="row mt-4 ms-4">
    <div class="col-sm">
        <form (ngSubmit)="onUpdateProfile()">
            <div class="mb-3 row">
                <label for="name" class="col-sm-1 col-form-label">{{env.text_name}}</label>
                <div class="col-sm-10">
                    <input class="form-control w-25" type="text" id="name" name="name" [(ngModel)]="player.name">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="country" class="col-sm-1 col-form-label">{{env.text_country}}</label>
                <div class="col-sm-10">
                    <input class="form-control w-25" type="text" id="country" name="country" [(ngModel)]="player.country">
                </div>
            </div>
            <div>
                <button class="btn btn-sm btn-primary" type="submit">{{env.text_update}}</button>
                <button class="ms-4 btn btn-sm btn-outline-danger" type="button" (click)="onUpdateEnable()">{{env.text_cancel}}</button>
            </div>
        </form>
    </div>
</div>

<hr>
<div class="row m-2">
    <h3>{{env.text_achievments}}</h3>
</div>
<ul>
    <li *ngFor="let achievment of player.achievments">
        {{achievment.contest}} - {{achievment.medal}} <button class="btn btn-sm btn-danger btn-close" (click)="onAchievmentDelete(achievment._id)" ></button>
    </li>
</ul>


<form (ngSubmit)="onAddAchievment()">
    <div class="ms-4 mb-3 row">
        <label for="contest" class="col-sm-1 col-form-label">{{env.text_contest}}</label>
        <div class="col-sm-10">
            <select class="form-select w-25" id="contest" name="contest" [(ngModel)]="contest">
                <option value="{{env.text_olympic_2020}}">{{env.text_olympic_2020}}</option>
                <option value="{{env.text_olympic_2016}}">{{env.text_olympic_2016}}</option>
                <option value="{{env.text_olympic_2012}}">{{env.text_olympic_2012}}</option>
                <option value="{{env.text_olympic_2008}}">{{env.text_olympic_2008}}</option>
                <option value="{{env.text_olympic_2004}}">{{env.text_olympic_2004}}</option>
              </select>
        </div>
    </div>
    <div class="ms-4 mb-3 row">
        <label for="medal" class="col-sm-1 col-form-label">{{env.text_medal}}</label>
        <div class="col-sm-10">
          <select class="form-select w-25" id="medal" name="medal" [(ngModel)]="medal">
            <option value="{{env.text_gold}}">{{env.text_gold}}</option>
            <option value="{{env.text_silver}}">{{env.text_silver}}</option>
            <option value="{{env.text_bronze}}">{{env.text_bronze}}</option>
          </select>

        </div>
    </div>

    <div class="ms-4 w-25">
        <button class="btn btn-sm btn-success" type="submit">{{env.text_add_achievment}}</button>
    </div>
</form>

<hr>

<button  class="ms-4 btn btn-sm btn-danger" (click)="onDelete()">{{env.text_delete_profile}}</button>

<br>
<br>
<br>