<nav class="navbar navbar-dark bg-dark">
    <div class="navbar nav">
        <button class="btn btn-lg m-1" (click)="onHome()">{{env.text_home}}</button>
        <button class="btn btn-lg m-1" (click)="onPlayers()">{{env.text_players}}</button>
        <button class="btn btn-lg m-1" *ngIf="authService.isLoggedIn" (click)="onProfile()">{{env.text_profile}}</button>
    </div>
    <!-- <form class="d-flex justify-content-center">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
    <div class="navbar nav">
        <button class="btn btn-lg m-1" *ngIf="!authService.isLoggedIn" (click)="onRegister()">{{env.text_register}}</button>
        <button class="btn btn-lg m-1" *ngIf="!authService.isLoggedIn" (click)="onLogin()">{{env.text_login}}</button>
        <button class="btn btn-lg m-1" *ngIf="authService.isLoggedIn" (click)="onLogout()">{{env.text_logout}}</button>
    </div>
  </nav>